version: '3.8'

services:
  jobsai:
    image: ghcr.io/balie1969/jobsai:latest
    container_name: jobsai_app
    restart: unless-stopped
    ports:
      - "3002:3000"
    env_file:
      - .env.production
    networks:
      - postgres_internal

networks:
  postgres_internal:
    external: true
